:root {
    /*
    ** defines
    */
    /* --main:hsl(140, 3%, 78%); */
    /* --accent:hsl(210, 6%, 12%); */
    --fg-hue:140;
    --bg-hue:210;
    --fg-sat:3%;
    --bg-sat:6%;
    --main:hsl(var(--fg-hue), var(--bg-sat), 78%);
    --accent:hsl(var(--bg-hue), var(--fg-sat), 12%);
    --font-size:1.0rem;
    --line-height:1.5rem;
    --full-width:100vw;

    /*
     * config
     */
    font-size:var(--font-size);
    line-height:var(--line-height);
         user-select:none;
    -moz-user-select:none;
    font-family:monospace;
}

body {
    background:var(--accent);
    color:var(--main);
    overflow:hidden;
    margin:0;
}

#header {
    display:grid;
    position:fixed;
    width:var(--full-width);
    height:(--line-height);
    top:0;
    grid-template-columns:1fr auto 1.0fr;
    background:var(--main);
    color:var(--accent);
}

#reserved-line-top {
    background:var(--accent);
    width:var(--full-width);
    height:var(--line-height);
    top:var(--line-height);
    position:fixed;
}

#reserved-line-bottom {
    background:var(--accent);
    width:var(--full-width);
    height:calc(var(--line-height) * 3);
    bottom:calc(var(--line-height) * 2);
}

#text-buffer {
    z-index:-1;
}

#hotkey-menu {
    width:var(--full-width);
    background:var(--accent);
    position:fixed;
    bottom:0;
    line-height:var(--line-height);
}

.hotkey-tip {
    background:var(--main);
    color:var(--accent);
}

#options-menu {
    display:none;
    position:fixed;
    width:var(--full-width);
    background:var(--accent);
    bottom:calc(var(--line-height) * 2);
}

#options-container {
    margin:auto;
    width:40ch;
    background:var(--main);
    color:var(--accent);
}

.option {
    text-align:center;
}

input[type=text] {
    background:transparent;
    font-family:monospace;
    font-size:1rem;
    color:var(--accent);
    border:0;
}

pre {
    margin:0;
}
